@using Renova.Models.Gallery

@model IEnumerable<Project>

@section Style {
	<link rel="stylesheet"
		href="/css/pages/gallery.css" />
}

@{
	ViewData["Title"] = "Gallery";
	ViewData["Description"] = 
		"Check out the transformations made possible during our past projects.";
}

@foreach (var project in Model)
{
	<h1>@project.Name</h1>

	<div class="image-grid">
		@{ var totalImages = project.Images.Length; }

		@for ( int i = 0; i < totalImages; i++ )
		{
			var imageUrl = project.Directory + project.Images[i];

			<img src=@imageUrl onclick="openModal();currentSlide(i)" />	
		}
	</div>

	<div id="lightbox-modal">
		<span class="close-icon" onclick="closeModal()">&times;</span>		
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

		@for ( int i = 0; i < totalImages; i++ )
		{
			<div class="slide">
				@{ 
				var imageUrl = project.Directory + project.Images[i];
				var currentImage = i + 1;
				}

				<div class="place-indicator">@($"{currentImage} / {totalImages}")</div>

				<img src=@imageUrl />	
			</div>
		}    
	</div>
}

<script type="text/javascript">
	// Open the Modal
	function openModal() {
		document.getElementById("lightbox-modal").style.display = "block";
	}

	// Close the Modal
	function closeModal() {
		document.getElementById("lightbox-modal").style.display = "none";
	}

	var slideIndex = 1;
	showSlides(slideIndex);

	// Next/previous controls
	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("slide");

		if (n > slides.length) {slideIndex = 1}

		if (n < 1) {slideIndex = slides.length}

		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}

		slides[slideIndex - 1].style.display = "block";
	}
</script>