@using Renova.Models.Gallery

@model IEnumerable<Project>

@section Style {
	<link rel="stylesheet"
		href="/css/pages/gallery-index.css" />
}

@{
	ViewData["Title"] = "Gallery";
	ViewData["Description"] = 
		"Check out the transformations made possible during our past projects.";
}

@foreach (var project in Model)
{
	<a class="link" asp-controller="Gallery" asp-action="Project" asp-route-project="@project.Name">
		@(project.DisplayName)
	</a><br>
}