<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Renova</title>
	
	@RenderSection("Style", required: true)

	<script src="https://kit.fontawesome.com/df3d0cc377.js"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<nav>
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Renova</a>

			<input 
			class="toggle"
			id="nav-checkbox"
			type="checkbox" />

			<label for="nav-checkbox" class="hamburger">					
			</label>

			<ul id="nav-items">
				<li class="nav-item">
					<i class="fa fa-phone" aria-hidden="true"></i>
					
					<a href="1-587-990-4692">+1-587-990-4692</a>
				</li>

				<li class="nav-item">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>

					<a href = "mailto:info@renovacontracting.ca">
					info@renovacontracting.ca
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">About us</a>
				</li>
			</ul><!-- End of navbar items -->
		</nav>
	</header>

	<div class="container">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer>
		<div class="container">
			&copy; 2020 - Renova - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	
	@RenderSection("Scripts", required: false)
</body>
</html>
