<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Renova</title>

	<meta name="description" 
	content="Quality, affordable, and customized home renovations in Edmonton and area.">
	
	@RenderSection("Style", required: true)

	<script src="https://kit.fontawesome.com/df3d0cc377.js"
		crossorigin="anonymous">
	</script>

	<link rel="icon" type="image/svg+xml" href="~/favicon.svg">
	<link rel="alternate icon" href="~/favicon.ico">
</head>

<body>
	<header>
		<div id="contact-info">
			
			<a id="brand" asp-area="" asp-controller="Home" asp-action="Index">
				<partial name="_WordmarkPartial" />
			</a>

			<ul>			
				<li>
					<i class="fa fa-phone" aria-hidden="true"></i>
					
					<a href="tel:+1-587-990-4692">+1-587-990-4692</a>
				</li>

				<li>
					<i class="fa fa-envelope-o" aria-hidden="true"></i>

					<a href = "mailto:info@renovacontracting.ca">
					info@renovacontracting.ca
					</a>
				</li>
			</ul>
		</div><!-- End of contact info -->
		
		<nav>
			<ul>				
				<li>
					<a asp-area="" asp-controller="About" asp-action="Index">About</a>
				</li>
				
				<li>
					<a asp-area="" asp-controller="Gallery" asp-action="Index">Gallery</a>
				</li>
				
				<li>
					<a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
				</li>
			</ul>
		</nav>		
	</header>

	<main role="main">
		@RenderBody()
	</main>

	<footer>
		<div>
			&copy; 2020 - Renova - Site by Juan Gallardo Jr.
		</div>
	</footer>
	
	@RenderSection("Scripts", required: false)
</body>
</html>
