/* Layout */
	main {
		padding: 10px;
	}
/* End of layout */

/* Cosmetic styles */
	html {
		background-color: var(--bg);
		color: var(--text);
	}

	header li:hover {
		transition: color 0.9s;
		color: white
	}

	#wordmark-body {
		fill: var(--link-button);
	}
/* End cosmetic styles */