@using Renova.ViewModels.Contact

@model EmailViewModel

@section Style {
	<link rel="stylesheet"
		href="/css/pages/contact.css" />
}

@{
	ViewData["Title"] = "Contact";
	ViewData["Description"] = "Submit an inquiry by email";
}

<h1>We are looking forward to hearing from you</h1>

<form id="email-form" method="post">
	<label asp-for="SenderName" id="name-label">Name:</label>
	<input asp-for="SenderName" id="name-input"/> <br>

	<label asp-for="SenderEmailAddress" id="address-label">Your email address:</label>
	<input asp-for="SenderEmailAddress" id="address-input" /> <br>

	<label asp-for="Message" id="message-label">Message:</label><br>
	<textarea	asp-for="Message" id="message-input"
	rows="20"
	cols="50">
	</textarea><br>
	
	<button type="submit" id="submit">
		Send
	</button>
</form>