@section Style {
	<link rel="stylesheet"
		href="/css/pages/about.css" />
}

@{
	ViewData["Title"] = "About";
}

<h1>Juan Gallardo, owner and manager of Renova Contracting</h1>

<img id="portrait" src="~/images/about-portrait.png" alt="Image of Juan in the workspace.">

<p>
	Juan is a trained architect with more than 30 years of experience in construction, who helps owners 
	transform their houses into their dream living spaces.
</p>

<p>
	Before starting his business, Juan worked 5 years as a Project Manager at several large 
	comercial and touristic construction projects. After a successful career in this field, 
	he decided to start his own business by opening a carpentry shop where he continued to work 
	in construction and carpentry projects having a crew of 5 to 10 employees. 	
</p>

<p>
	Juan now is grouping up all his experience to help home owners achieve their dreams, 
	by taking their ideas into a transformation process of shape and color balance and spaces remodeling, 
	grounding them to reality.
</p>

<p>
	Home owners who wish to have not only a contractor that does the job, but someone who 
	provides also the extra benefit of experience and design have in Juan the ideal resource.
</p>

<p>
	On his time off, Juan enjoys mountain biking with his wife, Estela, and playing basketball with friends.
</p>

<p>
	Juan is available for your home renovation and private consultations. 
	You can reach him at 
	<a class="link" href = "mailto:info@renovacontracting.ca">
		info@renovacontracting.ca
	</a>.
</p>