@section Style {
	<link rel="stylesheet"
		href="/css/pages/about.css" />
}

@{
	ViewData["Title"] = "About";
}

<h1>Juan Gallardo, owner and manager of Renova Contracting</h1>

<p>
	Juan is a trained architect with X years of experience in construction who helps owners 
	transform their houses into their dream living spaces.
</p>

<p>
	Before starting his business, Juan worked XNumberOfYears as a relevant job title 1 and a relevant job title 2.
	After a successful career helping sub-niche or branch of your target market 1 
	(e.g. fitness trainers, residential leasing agents, make-up artists, aspiring authors) 
	and sub-niche or your target market 2, 
	Name now appropriate action verb (e.g. trains, coaches, advises) them on how to specific tasks you do for your target market.
</p>

<p>
	Name  enjoys hobby 1 and hobby 2.
</p>

<p>
	Juan is available for your home renovation and private consultations. 
	You can reach him at 
	<a href = "mailto:info@renovacontracting.ca">
		info@renovacontracting.ca
	</a>.
</p>