/* Layout */
	#contact-info {
		display: flex;		
		align-items: center;
		
		height: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#contact-info li:nth-of-type(1) {
		flex-grow: 1;
	}

	#contact-info li {
		padding-left: 20px;
	}
/* End of layout */

/* Cosmetic styles */
	#contact-info {
		color: white;
	}
/* End cosmetic styles */

/* Hamburger menu */
	.toggle + .toggle-label::before {
		content: "》 Show";
	}

	.toggle:checked + .toggle-label::before {
		content: "︾ Hide";
	}

	.toggle ~ .twitch-embed { display: none; }
	.toggle:checked ~ .twitch-embed { display: block; }	

	.toggle-label {
		height: 100%;
		cursor: pointer;
		display: grid;
		place-items: center;
		color: var(--yellow);
	}

	.toggle { display: none; }
/* Show/Hide stream */


