/* Layout */
	header {		
		display: grid;
	}

	#contact-info {
		display: grid;
		grid-template-columns: auto 1fr;
		padding: 10px;
	}

	#contact-info ul {
		display: flex;
		justify-content: flex-end;
	}

	#contact-info ul li{
		padding-left: 10px;
	}

	nav ul{
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
	}

	nav ul li{
		padding-left: 10px;
	}
/* End of layout */

/* Hamburger menu */
	.toggle + .toggle-label::before {
		content: "》 Show";
	}

	.toggle:checked + .toggle-label::before {
		content: "︾ Hide";
	}

	.toggle ~ .twitch-embed { display: none; }
	.toggle:checked ~ .twitch-embed { display: block; }	

	.toggle-label {
		height: 100%;
		cursor: pointer;
		display: grid;
		place-items: center;
		color: var(--yellow);
	}

	.toggle { display: none; }
/* Show/Hide stream */


