@import "../shared.css";

/* Layout */
	main {
		padding: 20px;
	}
/* End of layout */

/* Cosmetic */
	h1 {
		padding-bottom: 10px;
	}

	p {
		padding-bottom: 10px;
	}

	#contact-info, #brand {
		color: black;
		background-color: var(--base);
	}

	nav {
		color: white;
		background-color: var(--accent3);
	}

	main {
		color: white;
		background-color: var(--accent1);
	}
/* End of cosmetic */