@import "../shared.css";
@import "../base/_page.css";

/* Layout */
	main {
		padding: 0.5em;
		display: grid;
		place-items: center;
	}

	#email-form {
		padding: 0.5em;
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto auto 1fr auto;
		place-items: center;
		gap: 0.5em;		
	}
		#name-label {
			grid-column: 1;
			grid-row: 1;
			justify-self: start;	
		}

		#name-input {
			grid-column: 2;
			grid-row: 1;
			justify-self: stretch;
		}

		#address-label {
			grid-column: 1;
			grid-row: 2;
			justify-self: start;	
		}

		#address-input {
			grid-column: 2;
			grid-row: 2;
			justify-self: stretch;
		}

		#message-label {
			grid-column: 1 / 3;
			grid-row: 3;
			justify-self: start;
		}

		#message-input {
			grid-column: 1 / 3;
			grid-row: 4;
			place-self: stretch;
		}

		#submit {
			grid-column: 1 / 3;
			grid-row: 5;
			width: 50%;
		}
/* End of layout */

/* Cosmetic */
	#email-form {
		border: solid;
		border-width: 5px;
		border-color: white;
	}
/* End of cosmetic */