@import "../shared.css";
@import "../base/_page.css";
@import "../components/_lightbox.css";

/* Layout */
main {
	padding: 20px;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-auto-rows: 340px;
	grid-gap: 20px;
	place-items: stretch;
}

.image-grid img {
	padding: 20px;
	border-radius: 10px;
}
/* End of layout */

/* Cosmetic */
.image-grid img {
	cursor: zoom-in;
}
/* End of cosmetic */