@import "../shared.css";
@import "../components/_image-slider.css";

header {
	z-index: 3;
}

main { /* Overlap navbar over image slider */ 
	grid-row: 1 / 4;
	grid-column: 1;
	z-index: 1;
}

#overlay { /* Overlap content over image slider */
	z-index: 2;
	color: white;
	text-align: center;

	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;

	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr;
	place-items: center;
}

#logo {
	height: calc(1.5em + 16vw);
	max-height: 7em;
  width: auto;
}

#description {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#description p {
	text-shadow: 2px 2px black;
	padding: 10px
}

#previous {
	grid-column: 1;
	grid-row: 1;
	border-radius: 0 3px 3px 0;
}

#next {
	grid-column: 3;
	grid-row: 1;
	border-radius: 3px 0  0 3px;
}

#description {
	grid-column: 2;
	grid-row: 1;
}

footer {
	border-color: white;
	color: white;
}

/* Cosmetic styles */
	#contact-info {
		color: white;
		border-color: white;
	}

	nav {
		color: white;
	}

	#brand {
		color: white;
	}	
/* End cosmetic styles */

/* Logo styles */
	#logo #column,
	#logo #slogan,
	#wordmark-body {
		fill: white;
	}

	#logo #renova {
		fill: var(--accent4)
	}
/* End of logo styles */