@import "../shared.css";
@import "../components/_image-slider.css";

header {
	z-index: 3;
	backdrop-filter: blur(5px);
}

main { /* Overlap navbar over image slider */ 
	grid-row: 1 / 4;
	grid-column: 1;
	z-index: 1;
}

#overlay { /* Overlap content over image slider */
	z-index: 2;
	font-size: 30pt;
	color: white;
	text-align: center;

	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;

	display: grid;
	grid-template-columns: 70px 1fr 70px;
	grid-template-rows: 1fr;
	place-items: center;
}

#description {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#description p {
	text-shadow: 2px 2px black;
	padding: 10px
}

#description a {
	font-size: 25pt;
	padding: 10px;
	background-color: var(--accent4);
	border-radius: 5px;
}

#previous {
	grid-column: 1;
	grid-row: 1;
}

#next {
	grid-column: 3;
	grid-row: 1;
}

#description {
	grid-column: 2;
	grid-row: 1;
}

footer {
	border-top: solid;
	border-width: 2px;
	border-color: white;
	color: white;
	display: grid;
	align-items: center;
}

footer div {
	padding-left: 10px;
	padding-right: 10px;
}

/* Logo styles */
	#logo #column,
	#logo #slogan {
		fill: white;
	}

	#logo #renova {
		fill: var(--accent4)
	}
/* End of logo styles */