@section Style {
	<link rel="stylesheet"
		href="/css/pages/home.css" />
}

@{
	ViewData["Title"] = "Home Page";
}

<ul id="image-slider">
	<li class="slide showing"></li>
	<li class="slide"></li>
	<li class="slide"></li>
	<li class="slide"></li>
	<li class="slide"></li>
</ul>

<div id="overlay">
	<button class="slider-controls" id="previous"><</button>
	<button class="slider-controls" id="next">></button>
	<div id="description">
		<partial name="_LogoPartial" />

		<p>Quality, custom home renovations in Edmonton and area.</p>
		
		<a asp-area="" asp-controller="Contact" asp-action="Index">Get a free estimate</a>
	</div>	
</div>

<script type="text/javascript">
	// Show controls when javascript is enabled
	var controls = document.getElementsByClassName('slider-icontrols');
	for(var i = 0; i < controls.length; i++){
		controls[i].style.display = 'inline-block';
	}

	var slides = document.getElementsByClassName('slide');
	var currentSlide = 0;

	function nextSlide() {
		goToSlide(currentSlide + 1);
	}

	function previousSlide() {
		goToSlide(currentSlide - 1);
	}

	function goToSlide(n) {
		slides[currentSlide].className = 'slide';
		currentSlide = (n + slides.length) % slides.length;
		slides[currentSlide].className = 'slide showing';
	}

	var next = document.getElementById('next');
	var previous = document.getElementById('previous');

	next.onclick = function() {
		nextSlide();
	};

	previous.onclick = function() {
		previousSlide();
	};
</script>