@import "base/_reset.css";
@import "base/_fonts.css";
@import "base/_colors.css";
@import "base/_hyperlinks.css";
@import "components/_header.css";

/* Layout */
  body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;    
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

    header {
      grid-row: 1;
      grid-column: 1;
    }

    footer {
      grid-row: 3;
      grid-column: 1;
      z-index: 3;
      border-top: solid;
      border-width: 2px;      
      display: grid;
      align-items: center;
    }

    footer div {
      padding: 10px;
      font-size: 15pt;
    }
/* End of layout */

/* Wordmark styles */
  #brand {
    place-self: center;
    height: calc(1em + 0.80vw);
    width: auto;
  }

  #wordmark {    
    height: calc(1em + 0.80vw);
    width: auto;
  }  
/* End of logo styles */

/* Cosmetic styles */
  .button {
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 10px;
    border-radius: 5px;

    font-weight: bold;
    font-size: 0.8em; 
    color: white;

    background-color: var(--link-button);
    transition: 0.6s ease;        
  }
/* End cosmetic styles */