@import "base/_reset.css";
@import "base/_fonts.css";
@import "base/_colors.css";
@import "base/_hyperlinks.css";
@import "components/_header.css";

/* Layout */
  body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;    
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

    header {
      grid-row: 1;
      grid-column: 1;
    }

    footer {
      grid-row: 3;
      grid-column: 1;
      z-index: 3;
      border-top: solid;
      border-width: 2px;      
      display: grid;
      align-items: center;
    }
/* End of layout */
